:root {
/*tet color*/
    --primaey-text-color: #757575;
    --hed-text-color: #212121;

/*logo color*/
    --accent-logo-color: #2196F3;

/*background color*/
    --background-color-header: #FFFFFF;
    --hero-backgraund-color: #2F303A;
    --backgraund-section: #F5F4FA;

/*link color*/
    --link-color: #2196F3;

/*grit*/
    --card-set-gap: 30px;
    --background-card__content: rgba(255, 255, 255, 1);
}